
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/supervised_text_simplification.iml
.idea/vcs.xml
.idea/workspace.xml
nmt_data/.DS_Store
seq2seq/
wikilarge/.DS_Store
wikilarge/train/.DS_Store
nmt_data/toy_reverse/dev/sources.txt
nmt_data/toy_reverse/dev/targets.txt
nmt_data/toy_reverse/test/sources.txt
nmt_data/toy_reverse/test/targets.txt
nmt_data/toy_reverse/train/sources.txt
nmt_data/toy_reverse/train/targets.txt
nmt_data/toy_reverse/train/vocab.sources.txt
nmt_data/toy_reverse/train/vocab.targets.txt
